In [12]:
import os
import pymysql
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

host = os.getenv('MYSQL_HOST')
port = os.getenv('MYSQL_PORT')
user = os.getenv('MYSQL_USER')
password = os.getenv('MYSQL_PASSWORD')
database = os.getenv('MYSQL_DATABASE')
conn = pymysql.connect(
host=host,
port=int(3306),
user="root",
passwd="",
db="world",
charset='utf8mb4')

In [15]:
conn = pymysql.connect(host="localhost", user="root", passwd="", db="world")
cursor = conn.cursor()

In [16]:
cursor.execute('select Name, Continent, Population, LifeExpectancy, GNP from Country');

In [17]:
rows = cursor.fetchall()

In [18]:
str(rows)[0:300]

"(('Aruba', 'North America', 103000, 78.4, 828.0), ('Afghanistan', 'Asia', 22720000, 45.9, 5976.0), ('Angola', 'Africa', 12878000, 38.3, 6648.0), ('Anguilla', 'North America', 8000, 76.1, 63.2), ('Albania', 'Europe', 3401200, 71.6, 3205.0), ('Andorra', 'Europe', 78000, 83.5, 1630.0), ('Netherlands An"

In [23]:
df = pd.DataFrame( [[ij for ij in i] for i in rows] )

In [24]:
df.rename(columns={0: 'Name', 1: 'Continent', 2: 'Population', 3: 'LifeExpectancy', 4:'GNP'}, inplace=True);

In [26]:
#df = df.sort(['LifeExpectancy'], ascending=[1]);

In [27]:
df.head()

          Name      Continent  Population  LifeExpectancy     GNP
0        Aruba  North America      103000            78.4   828.0
1  Afghanistan           Asia    22720000            45.9  5976.0
2       Angola         Africa    12878000            38.3  6648.0
3     Anguilla  North America        8000            76.1    63.2
4      Albania         Europe     3401200            71.6  3205.0